<div *ngFor="let targetRow of targetRows" class="container">
  <table>
    <tr>
      <td><app-select-language-dropdown></app-select-language-dropdown></td>
      <td>ng if each phrase</td>
    </tr>
  </table>
  <div>
    <button (click)="moveRowLeft(targetRow)" class="btn btn-xs btn-default"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
    <button (click)="moveRowRight(targetRow)" class="btn btn-xs btn-default"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>          
    <button (click)="removeRow(targetRow)" class="btn btn-xs"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div id="add-btn">
  <button (click)="addNewRow()" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>