<table>
  <tr *ngFor="let targetRow of targetRows">
    <td>
      <app-select-language-dropdown (change)="onLanguageSelect(targetRow, $event.target.value)"></app-select-language-dropdown>
      <br>
      <button (click)="moveRowUp(targetRow)" class="btn btn-xs btn-default"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
      <button (click)="moveRowDown(targetRow)" class="btn btn-xs btn-default"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>          
      <button (click)="removeRow(targetRow)" class="btn btn-xs"><i class="fa fa-times" aria-hidden="true"></i></button>
    </td>
    <td>{{allPhrases[targetRow.language]}}</td> 
</table>

<div>
  <button (click)="addNewRow()" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>